.forgot{
	width:500px;
	height:420x;
	background:blue;
	opacity:.8;
	color:cyan;
	top:50%;
	position:absolute;
	transform:translate(85%,-55%);
	box-sizing:border-box;
	padding:70px 30px;
	background-position:center;
}
.forgot input
{
	height:15px;
	padding:10px;
	width:365px;
}
.forgot input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:#2F4F4F;
	color:#FF7F50;
	font-size:18px;
	border-radius:20px;
	width:390px;
}
.forgot input[type="submit"]:hover
{
	cursor:pointer;
	background:cyan;
	color:#000;
}
.av
{
	width:100px;
	height:100px;
	border-radius:50;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);
}