*{
	 font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
	background: linear-gradient(110deg, #ECEE99 60%, #4ECEEE 60%);
	 
	
}
.loginbox input[type="reset"]
{
	border:none;
	outline:none;
	height:40px;
	background:cyan;
	color:#FF7F50;
	front-size:18px;
	border-radius:20px;
	width:350px;
}
.loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:cyan;
	color:#FF7F50;
	front-size:18px;
	border-radius:20px;
	width:350px;
}
.loginbox input[type="reset"]:hover{
	cursor:pointer;
	background-color:#ffc107;
	color:#000;
}
.loginbox input[type="submit"]:hover{
	cursor:pointer;
	background-color:#ffc107;
	color:#000;
}

iframe{
	border:none;
	outline:none;
}