body{
   margin:0;
   padding:0;
   background-size:cover;
   font-family:sans-serif;
   background: linear-gradient(110deg, #CDD4D8 60%, #4ECEEE 60%);
}
.loginbox{
	width:400px;
	height:390px;
	background:#13C9C9;
	color:#fff;
	opacity:.8;
	top:50%;
	position:absolute;
	transform:translate(120%,-50%);
	box-sizing:border-box;
	padding:70px 40px;	
}

h1{
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size:22px;
	color: blue;
}
.av
{
	width:100px;
	height:100px;
	border-radius:50;
	position:absolute;
	top:-70px;
	left:calc(50% - 50px);
}
.loginbox p{
	margin:0;
	padding:0;
	font-width:bold;
	
}
.loginbox input{
	width:300px;
	margin-bottom:20px;
	
}
.loginbox input[type="text"],input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:16px;
}
.loginbox input[type="text"],input[type="password"]:focus
{
	background-color: #0B0C0C
}

.loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:#FF0000;
	color:#FF7F50;
	font-size:18px;
	border-radius:20px;
}
.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.loginbox a
{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:#0629F0;
}